@font-face {
    font-family: Sansation;
    src: url('../font/Sansation/Sansation-Light.ttf');
}

body{
    /*font-family: "Microsoft YaHei";*/
    font-family: Sansation,"Microsoft YaHei";
    font-size: 14px;
}

#wrapper{
    padding-top: 50px;
}

.container-fluid{
    padding: 0;
}

.ng-enter{
    z-index: 999;
}

.ng-leave{
    z-index: 888;
}

/* animate */
@keyframes slideInRight{
    from {
        transform: translateX(100%);
    }
    to {
        transform:translateX(0);
    }
}

@keyframes slideOutLeft{
    from {
        transform: translateX(0);
    }
    to {
        transform:translateX(100%);
    }
}



.banner.ng-enter{
    animation: slideInRight 3s both ease
}

.banner.ng-leave{
    animation: slideInRight .5s both ease
}


/* style */
.img-width{
    width:300px;
}

header{
    padding:40px;
    background-image: url(../img/bg.png);
    background-color: #bfbfbf;
    color: #fff;
}
div.contain{
    position: relative;
    padding: 0 15px 0 15px;
}

header img{
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
}

div.desc{
    padding:0 20px 20px 20px;
    border:1px solid #fff;
    box-shadow: 0 0 20px 4px rgba(0,0,0,0.4);
    margin-top:20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

div.col-xs-4{
    padding-bottom: 50px;
}

span.left,span.right{
    cursor: pointer;
}

div.img_box{
    text-align: center;
    padding: 40px;
}


/* responsive */
@media (min-width: 480px){
    div.contain img{
        width:300px;
    }
    h2.h-size{
        font-size:60px;
    }
    p.p-size{
        font-size: 30px;
    }
    div.img_box img{
        width: 200px;
    }
    div.img_box p{
        font-size:40px;
    }
}

@media (min-width: 992px){
    div.desc{
        position: absolute;
        padding:0 20px 20px 20px;
        top: 0;
        right:100px;
        width:500px;
    }
    div.avatar{
        margin-left:50px;
    }
}

@media (max-width: 992px){
    div.avatar{
        text-align: center;
    }
    div.img_box img{
        width: 200px;
    }
    div.img_box p{
        font-size:30px;
    }
}

@media (max-width: 768px){
    div.contain img{
        width:200px;
    }
    div.avatar{
        text-align: center;
    }
    h2.h-size{
        font-size:30px;
    }
    p.p-size{
        font-size: 16px;
    }
    div.img_box img{
        width: 100px;
    }
    div.img_box p{
        font-size:24px;
    }
}


@media (max-width: 480px){
    div.contain img{
        width:100px;
    }
    h2.h-size{
        font-size:20px;
    }
    p.p-size{
        font-size: 12px;
    }
    div.desc{
        margin: 20px -55px -40px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-left:0;
        border-right:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        border-radius:0;
    }
    div.img_box img{
        width: 100px;
    }
    /* div.col-xs-4{
        width:100%;
    } */
    div.img_box p{
        font-size:16px;
    }

    div.img_box{
        padding: 20px;
    }
}


/* entertainment */
.mediaBox{
    margin:15px;
    background-color: #fff;
    border:1px solid #ddd;
    border-radius: 4px 4px 0 0;
}

.media-object{
    width:64px;
    height:64px;
}

.rowStyle{
    margin:0;
    padding:15px;
}

.media-body h4{
    margin:0;
}

/* Toastr custom style */
/*#toast-container > .toast {*/
    /*background-image: none !important;*/
/*}*/
/*#toast-container > .toast:before {*/
    /*position: fixed;*/
    /*font-family: FontAwesome;*/
    /*font-size: 24px;*/
    /*line-height: 24px;*/
    /*float: left;*/
    /*color: #FFF;*/
    /*padding-right: 0.5em;*/
    /*margin: auto 0.5em auto -1.5em;*/
/*}*/
/*#toast-container > .toast-warning:before {*/
    /*content: "\f0e7";*/
/*}*/
/*#toast-container > .toast-error:before {*/
    /*content: "\f071";*/
/*}*/
/*#toast-container > .toast-info:before {*/
    /*content: "\f005";*/
/*}*/
/*#toast-container > .toast-success:before {*/
    /*content: "\f00C";*/
/*}*/
/*#toast-container > div {*/
    /*-moz-box-shadow: 0 0 3px #999 !important;*/
    /*-webkit-box-shadow: 0 0 3px #999 !important;*/
    /*box-shadow: 0 0 3px #999 !important;*/
    /*opacity: .9 !important;*/
    /*-ms-filter: alpha(opacity=90) !important;*/
    /*filter: alpha(opacity=90) !important;*/
/*}*/
/*#toast-container > :hover {*/
    /*-moz-box-shadow: 0 0 4px #999 !important;*/
    /*-webkit-box-shadow: 0 0 4px #999 !important;*/
    /*box-shadow: 0 0 4px #999 !important;*/
    /*opacity: 1 !important;*/
    /*-ms-filter: alpha(opacity=100) !important;*/
    /*filter: alpha(opacity=100) !important;*/
    /*cursor: pointer !important;*/
/*}*/
/*.toast {*/
    /*background-color: #1ab394 !important;*/
/*}*/
/*.toast-success {*/
    /*background-color: #1ab394 !important;*/
/*}*/
/*.toast-error {*/
    /*background-color: #ed5565 !important;*/
/*}*/
/*.toast-info {*/
    /*background-color: #23c6c8 !important;*/
/*}*/
/*.toast-warning {*/
    /*background-color: #f8ac59 !important;*/
/*}*/
/*.toast-top-full-width {*/
    /*margin-top: 20px !important;*/
/*}*/
/*.toast-bottom-full-width {*/
    /*margin-bottom: 20px !important;*/
/*}*/


/* about */
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }

.get-more,.loading{
    text-align: center;
    margin-top: 15px;
}